<%- include('blocks/header', {bot:bot, user: user, auth: auth, packs: packs}) %>

	<head>
		<meta name="theme-color" content="#23272A">
		<meta property="og:title" content="Dark Bot">
		<meta property="og:url" content="https://darkdashboard.glitch.me">
		<meta property="og:description" content="Um Bot para administrar seu servidor e divertir seus membros com vários comandos e opções.">
		<meta property="og:image" content="<%= bot.user.avatarURL %>?size=128">
	</head>
<style>
  .card-img-top {
        position: relative;
        margin: auto;
        vertical-align: middle;
  }
  .col {
   margin: auto;
  }
  .btn-primary {
   float: right;
   background-color: #7289da;
  }
</style>
<div class="container">
	<div class="card" style="width: 100%"><br>
		<% if (guild.icon) { %>
			<img class="card-img-top" style="width: 20%; border-radius: 50%; border : solid #7289DA; text-align: center;" src="<%=`https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.png?size=512`%> "alt="<%= guild.name %>">
			<% } else { %>
				<img class="card-img-top" style="widget: 20%; border-radius: 50%; border: solid #7289DA; text-align: center;" src="" />
				<% } %>
					<div class="card-body" style="">
								<h4 class="card-title" style="">
									<%= guild.name %>
								</h4>
									<p class="card-text" id="guildCreate">
										<%= packs.moment.utc(guild.createdAt).format('LLLL').replace('January', 'Janeiro').replace('February', 'Fevereiro').replace('March', 'Março').replace('April', 'Abril').replace('May', 'Maio').replace('June', 'Junho').replace('July', 'Julho').replace('August', 'Agosto').replace('September', 'Setembro').replace('October', 'Outubro').replace('November', 'Novembro').replace('December', 'Dezembro').replace('Sunday', 'Domingo').replace('Monday', 'Segunda-Feira').replace('Tuesday', 'Terça-Feira').replace('Wednesday', 'Quarta-Feira').replace('Thursday', 'Quinta-Feira').replace('Friday', 'Sexta-Feira').replace('Saturday', 'Sábado')%>
									</p>
					</div>
	</div>
	<div class="col-sm-8 mx-auto" style="margin-top: 15px;">
	</div>
	<hr>
	<div class="card" style="width: 100%;">

		<div class="col col-8">
     <br>
			<form method="post">
				<% const settings = bot.guilds.get(guild.id).options; %>
					<% for (const key in settings) { %>
						<div class="form-group">
             <% if(key !== 'serverList') { %>
							<label for="<%= key %>"><%= key.replace('welcomeChannel', 'Canal de Boas-Vindas').replace('byeChannel', 'Canal de Despedidas').replace('welcomeMessage', 'Mensagem de Bem-Vindo').replace('byeMessage', 'Mensagem de Despedidas').replace('welcomeAutoRole', 'Cargo Automático').replace('invite', 'Convite') %></label>
							<input type="text" class="form-control" id="<%= key %>" name="<%= key %>" placeholder="<%= key.replace('welcomeChannel', 'ID do Canal').replace('byeChannel', 'ID do Canal').replace('welcomeMessage', 'Mensagem de Boas-Vindas - {user} = Marcar o Membro │ {guild} = Nome do Servidor').replace('byeMessage', 'Mensagem de Despedidas - {user} = Nome do Usuário │ {guild} = Nome do Servidor').replace('welcomeAutoRole', 'ID do Cargo').replace('invite', 'Convite que você gostaria de utilizar na página do servidor') %>" value="<%= settings[key] %>">
             <% } %>
						</div>
						<% } %>
							<button type="submit" onclick="window.location.href='/manage/<%= guild.id %>'" class="btn btn-primary">Confirmar</button>
       <br>
			</form>
			<br>
		</div>
	</div>
	<% include ./blocks/footer %>